body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

label {
    font-weight: bold;
    color: #555;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

input:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
}

.error {
    color: red;
    font-size: 0.85em;
    margin-top: -5px;
    margin-bottom: 10px;
    display: block;
}

.error-border {
    border-color: red !important;
}

button {
    width: 100%;
    background-color: #4CAF50; /* Hijau */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; /* Hijau gelap saat hover */
}

.success {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #eaffea;
    border: 1px solid #4CAF50;
    color: #2d6b2d;
    font-size: 0.9em;
}

.output-container {
    text-align: left;
    margin-top: 20px;
}